


@media (max-width : 780px){
#a {

    width: 100%;
    height: 75px;
    background-color: rgb(184, 171, 171);
    text-align: center;
    overflow:auto;
    margin: auto;
  }

  #b{
    width: 100%;
    height: 150px;
    background-color: rgb(190, 54, 54);
    overflow:auto;
    margin: auto;

  }

  #c{
    width: 100%;
    height: 125px;
    background-color: rgb(65, 38, 38);
    overflow:auto;
    margin: auto;

  }

  #d{
    width: 100%;
    height: 125px;
    background-color: rgb(87, 162, 175);
    overflow:auto;
    margin: auto;

  }


  #one {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    
}

  #one > #e {
    order:1; 
}

  #one > #f{
    order:2;  
}

  #e{
   width: 100%;
    height: 250px;
    background-color: rgb(96, 145, 33);
    /* float: right; */
    overflow:auto;
    margin: auto;

  }
  #f{
    width: 100%;
    height: 250px;
    background-color: rgb(68, 33, 92);
    overflow:auto;
    margin: auto;

  }

  #two {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

  #two > #g {
    order:1;
}

  #two > #h{
    order:2;
  }
    

  #g{
    width: 100%;
    height: 250px;
    background-color: rgb(29, 3, 20);
    /* float: right; */
    margin: auto;

  }
  #h{
    width: 100%;
    height: 250px;
    background-color: rgb(211, 188, 226);
    /* overflow:auto; */
    margin: auto;

  }

  #i{
    width: 100%;
    height: 80px;
    background-color: rgb(76, 77, 22);
    /* overflow:auto; */
    margin: auto;

  }
}


  
  /* On Desktop, float the divs in the section and center them */
  @media( min-width: 960px ) {
    
    #a {
        background-color: green;
        width: 100% ;
        height: 100px;
    }

    #b{

        background-color: greenyellow;
        width: 20%;
        height: 600px;
        float: left;
    }


    #cd {
      display: grid;
      width: 80%;
      grid-template-columns: 50% 50%;
      
  }
  
    #cd > #c {
      order:1; 
  }
  
    #cd > #d{
      order:2;  
  }
    #c{
        background-color: grey;
        width: 100%;
        height: 200px;
        /* float: left; */
    }
    #d{
        background-color: hotpink;
        width: 100%;
        height: 200px;
    }

    #efgh {
      display: grid;
      width: 80%;
      grid-template-columns: 50% 50% 50% 50% ; 
      
  }
  
    #efgh >#one >#e{
      order:1; 
      grid-area: 1/ 1/ 1 / 5;
  }
    #efgh > #one >#f{
      order:2;  
  }
    #efgh > #two >#g {
      order:3; 
    }
    #efgh > #two> #h {
      order:4; 
}

    #e{
        background-color: indigo;
        width: 50%;
        height: 250px;
        float: left;
    }
    #f{
        background-color: khaki;
        width: 50%;
        height: 250px;
        float: right;
    }
    #g{
        background-color: black;
        width: 50%;
        height: 250px;
        float: right;
    }
    #h{
        background-color: cadetblue;
        width: 50%;
        height: 250px;
    }
    #i{

        background-color: chocolate;
        width: 100%;
        height: 150px;
    }
    
  }

  @media ( min-width: 780px ) and (max-width: 960px) {
    
    #a {
      background-color: lightcoral;
      width: 100% ;
      height: 100px;
  }

  #b{

      background-color: grey;
      width: 20%;
      height: 600px;
      float: left;
  }


  #cd {
    display: grid;
    width: 80%;
    grid-template-columns: 50% 50%;
    
}

  #cd > #c {
    order:1; 
}

  #cd > #d{
    order:2;  
}
  #c{
      background-color:greenyellow;
      width: 100%;
      height: 200px;
      /* float: left; */
  }
  #d{
      background-color: blue;
      width: 100%;
      height: 200px;
  }

  #efgh {
    display: grid;
    width: 80%;
    grid-template-columns: 50% 50% 50% 50% ; 
    
}

  #efgh >#one >#e{
    order:1; 
    grid-area: 1/ 1/ 1 / 5;
}
  #efgh > #one >#f{
    order:2;  
}
  #efgh > #two >#g {
    order:3; 
  }
  #efgh > #two> #h {
    order:4; 
}

  #e{
      background-color: purple;
      width: 50%;
      height: 250px;
      float: left;
  }
  #f{
      background-color: plum;
      width: 50%;
      height: 250px;
      float: left;
  }
  #g{
      background-color: olivedrab;
      width: 50%;
      height: 250px;
      float: right;
  }
  #h{
      background-color: khaki;
      width: 50%;
      height: 250px;
  }
  #i{

      background-color: yellowgreen;
      width: 100%;
      height: 150px;
  }
  
}